.myOrder {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .order-img {
    width: 10px;
    height: 10px;
  }
}
