.side-bar {
  background-color: #49d893;
  height: 150vh;
}
.side-bar div {
  position: fixed;
  background-color: #ffffff;
  width: 13vw;
  margin-top: 20vh;
  margin-left: 6vh;
  padding: 8px;
  border-radius: 20px 0px 0px 20px;
}
.side-bar .first {
  position: fixed;
  top: 15.7%;
  left: 13.66%;
  width: 33px;
  height: 33px;
  background-color: #49d893;
  border-radius: 50%;
  box-shadow: 10px 10px 0px #ffffff;
}
.side-bar .sec {
  position: fixed;
  top: 26.6%;
  left: 13.66%;
  width: 33px;
  height: 33px;
  background-color: #49d893;
  border-radius: 50%;
  box-shadow: 10px -10px 0px #ffffff;
}

.food-items {
  background-color: #ffffff;
}
.order-bar {
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: #ffffff;
}
.order-bar button,
.go-back {
  width: 40vh;
  border: 2px solid #097546;
  background-color: #49d893;
  color: #ffffff;
  margin: 0.5vh;
  font-size: 3vh;
  border-radius: 20px;
}
@media only screen and (max-width: 600px) {
  .side-bar {
    width: 25vw !important;
    height: 300vh;
    padding-top: 10vh;
  }
  .side-bar div {
    overflow: hidden;
    margin-top: 10vh;
    margin-left: 0%;
  }
  .side-bar div {
    position: fixed;
    background-color: #ffffff;
    width: 23vw;
    padding: 3px;
    border-radius: 20px 10px 10px 20px;
  }
  .side-bar div i {
    display: none;
  }
  .side-bar .first,
  .sec {
    display: none;
  }
  .order-bar {
    background: transparent;
  }
  .order-bar button {
    width: 10vh;
    font-size: 1vh;
    border-radius: 30px;
  }
}
/* #49d893 */
/* #49d893 */
